
main {
  width: 100vw;
  height: 100%;
}
main #homeFirstHead {
  width: inherit;
  height: auto;
  padding: 160px 0;
  background: rgb(59, 224, 211) url(../../../images//hulubackground.jpg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
main #homeFirstHead .transparent_black_background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #0b0c0f;
  opacity: 0.8;
}
main #homeFirstHead .plans-indicators {
  max-width: 600px;
  width: 100%;
  height: auto;
  margin: auto;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 15px;
  position: relative;
  z-index: 2;
}
main #homeFirstHead .plans-indicators .duo-basic .Masthead_preheadline {
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  font-weight: 900;
  color: #00ED82;
}
main #homeFirstHead .plans-indicators .duo-basic .Masthead_headline {
  width: 50%;
  margin: 15px auto;
}
main #homeFirstHead .plans-indicators .duo-basic .Masthead_headline img {
  width: 100%;
  height: 100%;
}
main #homeFirstHead .plans-indicators .duo-basic .Masthead_subheadline {
  max-width: 200px;
  font-size: 19px;
  color: #e8eaed;
  font-weight: bolder;
  margin: auto;
  text-align: center;
  line-height: 1.6;
}
main #homeFirstHead .plans-indicators .duo-basic .Masthead_input {
  width: 100%;
}
main #homeFirstHead .plans-indicators .duo-basic .Masthead_input button {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #00ED82;
  text-transform: uppercase;
  margin: 46px 0;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
}
main #homeFirstHead .plans-indicators .duo-basic .Masthead_input button:hover {
  opacity: 0.6;
}
main #homeFirstHead .plans-indicators .trio-basic .Masthead_preheadline {
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  font-weight: 900;
  color: #00ED82;
}
main #homeFirstHead .plans-indicators .trio-basic .Masthead_headline {
  width: 64%;
  margin: 15px auto;
}
main #homeFirstHead .plans-indicators .trio-basic .Masthead_headline img {
  width: 100%;
  height: 100%;
}
main #homeFirstHead .plans-indicators .trio-basic .Masthead_subheadline {
  max-width: 200px;
  font-size: 19px;
  color: #e8eaed;
  font-weight: bolder;
  margin: auto;
  text-align: center;
  line-height: 1.6;
}
main #homeFirstHead .plans-indicators .trio-basic .Masthead_input {
  width: 100%;
}
main #homeFirstHead .plans-indicators .trio-basic .Masthead_input button {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #00ED82;
  text-transform: uppercase;
  margin: 15px 0;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
}
main #homeFirstHead .plans-indicators .trio-basic .Masthead_input button:hover {
  opacity: 0.6;
}
main #homeFirstHead .terms_apply {
  position: absolute;
  color: #e8eaed;
  bottom: 130px;
  font-size: small;
  text-decoration: underline;
  cursor: pointer;
}
main #homeFirstHead .sign_up_hulu {
  position: absolute;
  bottom: 80px;
  color: #e8eaed;
  font-size: small;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  main #homeFirstHead .plans-indicators {
    -ms-grid-columns: 1fr 80px 1fr;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 80px;
         -webkit-column-gap: 80px;
            column-gap: 80px;
  }
}
@media only screen and (max-width: 599px) {
  main #homeFirstHead .plans-indicators .trio-basic {
    margin-top: 80px;
  }
}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}