// color Variables
$blackColor: #0b0c0f;
$greenColor: #00ed82;
$whiteColor: #fff;
$lightColor: #a8afbd;
$buttonBackground: #323843;
$cardGradient: linear-gradient(156.82deg, rgba(0, 0, 0, 0.6) 4.58%, transparent 69.61%),
    linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, transparent 71.49%);

// Nested class start
// ------------------
main {
    #homeSecondHead {
        width: 100%;
        height: auto;
        background-color: $blackColor;
        padding: 50px 0;

        .top_trending_movies {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .text_contents {
                text-align: center;

                .preheadline {
                    text-transform: uppercase;
                    color: $greenColor;
                    font-size: 10px;
                    font-weight: 800;
                }

                .headline {
                    color: $whiteColor;
                    font-weight: 900;
                    font-size: 30px;
                    margin: 10px 0;
                }

                .paragraph {
                    color: $whiteColor;
                    font-size: 15px;
                    max-width: 500px;
                    margin: auto;
                    line-height: 1.5;
                }
            }

            .top_four_movie {
                display: grid;
                grid-template-columns: 200px;
                max-width: 986px;
                margin: 35px auto;
                grid-gap: 20px;
            }
        }
    }
}
// Nested class end
// ------------------

// Single styles start
// -------------------

// this style gived inside (.top_four_movie) element
.movie_box {
    position: relative;
}

// this style gived inside (.top_four_movie) element
.movie_button {
    border: none;
    cursor: pointer;
}

// this style gived inside (.top_four_movie) element
.item-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    background: $cardGradient;
}

// this style gived inside (.top_four_movie) element
.item_overlay {
    position: absolute;
    top: 10px;
    height: 0;
    left: 10px;
    z-index: 4;
    color: $whiteColor;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

// this style gived inside (.top_four_movie) element
// .item_overlay span
.item_overlay_span {
    font-size: 10px;
    font-weight: bolder;
}

// this style gived inside (.top_four_movie) element
// .item_overlay h3
.item_overlay_h3 {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: start;
}

// Single styles end
// -----------------

// -------------
// Media queries
// -------------

// > 1000px
@media only screen and (min-width: 1000px) {
    main {
        #homeSecondHead {
            .top_trending_movies {
                .text_contents {
                    
                    .preheadline {
                        font-size: 13px;
                    }

                    .headline {
                        font-size: 40px;
                        margin-top: 20px;
                    }
                    
                    .paragraph {
                        max-width: 610px;
                        font-size: 16px;
                        margin: 20px 0;
                    }
                }

                .top_four_movie {
                    max-width: 1100px;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    column-gap: 35px;
                    padding: 0 20px;

                    .movie_box {
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            transform: scale(1.1);
                            animation: th forwards 2s;
                        }
                    }
                }
            }
        }
    }

    // single styles
    // this style gived inside (.top_four_movie) element - viewport > 1000px
    .item_overlay {
        top: 10px;
        left: 10px;
    }

    // .item_overlay span
    .item_overlay_span {
        font-size: 10px;
    }

    // .item_overlay h3
    .item_overlay_h3 {
        font-size: 22px;
        font-weight: bolder;
    }
}

// > 700px & < 999px
@media only screen and (min-width: 700px) and (max-width: 999px) {
    main {
        #homeSecondHead {
            .top_trending_movies {

                .text_contents{
                    .headline{
                        margin-top: 10px;
                    }
                    .paragraph{
                        margin: 20px 0;
                    }
                }

                .top_four_movie {
                    grid-template-columns: 300px 300px;
                    column-gap: 35px;
                    row-gap: 35px;
                    padding: 0 20px;

                    .movie_box {
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            transform: scale(1.1);
                            animation: th forwards 2s;
                        }
                    }
                }
            }
        }
    }

    // single styles
    // this style gived inside (.top_four_movie) element - viewport > 700px & < 999px
    .item_overlay {
        top: 10px;
        left: 10px;
    }

    // this style gived inside (.top_four_movie) element
    // .item_overlay span
    .item_overlay_span {
        font-size: 10px;
    }

    // this style gived inside (.top_four_movie) element
    // .item_overlay h3
    .item_overlay_h3 {
        font-size: 22px;
    }
}
