
/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family:  sans-serif, Arial, Helvetica;
}

/* Setting scrool behavior smooth */
html{
    scroll-behavior: smooth
}